@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 639px) {
.service-grid > div:nth-child(even) {
  background-color: #F6F8FF; /* Blue */
}
}  

/* Desktop (2 columns) - checkerboard */
@media (min-width: 640px) {
  .service-grid > div:nth-child(2),
  .service-grid > div:nth-child(3)  {
    background-color:  #F6F8FF;
  }
}